h1{
    background-color: aqua;
    padding:5px,5px,5px,5px;
}
table{
    margin: 25px 23px 67px 56px;
    background-color: antiquewhite;
}
th{
    padding: 10px 15px 10px 15px;
    backgro
}
td{
    padding: 10px 15px 10px 15px;
}
body{
    background-color: azure;
}
.bca{
    background-color: burlywood;
}
#abc,#bcd{
    background-color: darksalmon;
}